.notificationBarContainer {
  background-color: #E6F1E6;
  color: #03034E;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  max-width: 265px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}

.newsletter {
  background-color: #03054E;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
  display: flex;
  color: #fff;
}

.inputGroup input {
  background-color: transparent;
  color: #fff;
  border: none;
  padding-left: 0px;
}

.inputGroup input::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
}
