.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
