.notificationBarContainer {
  background-color: #E6F1E6;
  color: #03034E;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  max-width: 320px;
}

.searchBarContainer input {
  border: none;
  border-bottom: solid 2px #3f3f40;
  background-color: transparent;
}

.logoContainer > img {
  max-width: 180px;
}

.infoCardContainer--infocard-deals {
  background-color: transparent;
  padding: 0px 40px;
}

.infoCardContainer--infocard-deals .infoCardImage {
  width: 22px;
}

.infoCardContainer--infocard-deals div {
  width: auto;
}

.infoCardContainer--infocard-deals .infoCardSubhead {
  margin-top: 0px;
  color: #ECECEC;
}

.infoCardContainer--info-card-home {
  max-width: 1528px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}

.infoCardContainer--info-card-home div {
  width: auto
}

.infoCardContainer--info-card-home .infoCardImage {
  width: 1040px;
}

.infoCardContainer--info-card-home .infoCardTextContainer {
  max-width: 400px;
  padding: 0px 60px;
  align-items: center;
}

.infoCardContainer--info-card-home .infoCardTextContainer .infoCardHeadline {
  text-align: center;
}

.newsletter {
  background-color: #03034E;
  max-width: 1528px;
  margin: 20px auto;
}

.newsletter .container {
  padding: 140px;
}

.label {
  color: #fff;
  font-size: 40px;
}

.inputGroup {
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}

.inputGroup label {
  color: #fff;
}

.inputGroup input {
  background-color: transparent;
  color: #fff;
  border: none;
  padding-left: 0px;
}

.inputGroup input::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}
