.headerRow--menu-link > div {
  background-color: #03034E;
}

.headerRow--menu-link span {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--menu-link a {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header > div {
  background-color: #F0F0F0;
}

.headerRow--main-header a {
  color: #727273;
  font-size: 14px;
}

.headerRow--main-header span {
  color: #727273;
  font-size: 14px;
}
