@import url(//io.vtex.com.br/fonts/fabriga/stylesheet.css);

/*
  Media Query Extensions:
  -s  = 20em
  -ns  = 40em
  -m  = 40em
  -l  = 64em
  -xl  = 80em
*/
:root {
  --font-family: Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  --color-white: #FFFFFF;
  
  --global-pd: 0rem;
  --global-pd-s: .5rem;
  --global-pd-m: 2rem;
  --global-pd-l: 3rem;
  --global-pd-xl: 4rem;

}

body,
button,
input,
optgroup,
select,
textarea,
span,
h1,
h2,
h3,
h4,
p1 {
  font-family: var(--font-family);
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto 0 auto;
  background-color: var(--color-white);
}

.force-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.vtex-searchbar__container {
  min-width: 350px;
}

@media only screen and (max-width: 400px) {
  .vtex-searchbar__container {
    min-width: 300px;
  }
}

/* Make divs behave evenly */
.vtex-store__template > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.vtex-store__template > div > div:last-child {
  margin-top: auto;
}

@media only screen and (min-width: 20em) {
  body {
    padding-left: var(--global-pd-s);
    padding-right: var(--global-pd-s);
  }
}

@media only screen and (min-width: 40em) {
  body {
    padding-left: var(--global-pd-m);
    padding-right: var(--global-pd-m);
  }
}

@media only screen and (min-width: 64em) {
  body {
    padding-left: var(--global-pd-l);
    padding-right: var(--global-pd-l);
  }
}

@media screen and (min-width: 80em) {
  body {
    padding-left: var(--global-pd-xl);
    padding-right: var(--global-pd-xl);
  }
}