@import url(//io.vtex.com.br/fonts/fabriga/stylesheet.css);

body,
button,
input,
optgroup,
select,
textarea,
span,
h1,
h2,
h3,
h4,
p1 {
  font-family: Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  background-color: white;
  height: 100%;
}

.vtex-dreamstore__container {
  padding-top: 180px; 
}

@media only screen and (max-width: 640px) {
  .vtex-dreamstore__container {
      padding-top: 147px;
  }
}

@media screen and (min-width: 20em) {
  .vtex-product-details-container {
    padding-top: 220px;
  }
}

@media screen and (min-width: 40em) {
  .vtex-product-details-container {
    padding-top: 140px;
  }
}
