.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 140px;
}

.newsletter .label {
  font-size: 40px;
  color: #fff;
}

.newsletter .inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.newsletter .inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.newsletter .inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.newsletter :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}
