.productSummary .nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.productSummary .nameContainer .brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.clearLink {
  text-decoration: inherit;
  color: inherit;
}
