$color-brand-primary-00:#0067A0;
$color-brand-primary-10: #A4DBE8;
$color-brand-primary-20:#00358E;
$color-brand-secundary-00: #00AFD7;
$color-brand-secundary-10: #7C878E;
$color-brand-secundary-20: #D0D3D4;
$color-brand-support-00:#514689;
$color-brand-support-10: #006F44;
$color-brand-support-20: #FA4616;
$color-brand-support-30:#DE1B73;
$color-brand-support-40:#FFB500;
$color-brand-support-50:#9063CD;
$color-brand-support-60:#47D7AC;
$color-brand-support-70:#FF8F1C;
$color-neutral-white:#FFFFFF;
$color-neutral-black:#000000;
$color-neutral-00:#333333;
$color-badge-00: #47D7AC;